table, tr, td {
  border-collapse: collapse;
  border:          1px solid gray;
}
table {
  margin: 5px 0 5px 0;
}
td {
  padding: 5px 10px;
}
p {
  white-space: pre-wrap;
}
td.add {
  background: rgba(124,255,0,0.2);
}
td.delete {
  background: rgba(255,0,0,0.1);
}
td.modify {
  background: rgba(0,0,255,0.1);
}
span.block {
  display: inline-block;
}
span.add {
  background: rgba(124,252,0,0.5);
}
span.delete {
  background: rgb(255,180,180);
}
span.modify {
  background: rgb(200, 200, 255);
}
.modify img {
  background: rgb(200, 200, 255);
  border: 2px solid rgb(200, 200, 255);
}
